@import url('scrollcolor.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar{
    transition:all .4s ease-in-out;
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number]{
    -moz-appearance: textfield;
  }
}
.passcode-input {
  width: 48px;
  height: 48px;
  font-size: 24px;
  text-align: center;
}

[x-cloak] { 
  display: none; 
}




